.new-account-wrapper {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    '. .           .'
    '. new-account .'
    '. .           .';
}

.new-account {
  grid-area: new-account;
  display: grid;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  border: solid;
  border-radius: 5%;
  background-color: #e8e8e8;
  box-shadow: 10px 10px 5px grey;
}

.new-account-form-component-wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
  grid-auto-rows: 45px;
  grid-template-areas:
    'first-name last-name'
    'address    address'
    'email      password'
    'type       type'
    'type-select type-select'
    'submit     submit';
}

.new-account-form-component-less {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
  grid-auto-rows: 45px;
  grid-template-areas:
  'first-name last-name'
  'address    address'
  'email      password'
  'type       type'
  'submit     submit';
}

.first-name {
  grid-area: first-name;
  display: grid;
  width: 90%;
  padding-left: 20px;
}

.last-name {
  grid-area: last-name;
  display: grid;
  width: 90%;
}

.address {
  grid-area: address;
  display: grid;
  width: 90%;
  padding-left: 20px;
}

.email {
  grid-area: email;
  display: grid;
  width: 90%;
  padding-left: 20px;
}

.password {
  grid-area: password;
  display: grid;
  width: 90%;
}

.type {
  grid-area: type;
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
}

.type-select {
  grid-area: type-select;
  display: grid;
  width: 100%;
}

.submit {
  grid-area: submit;
  display: grid;
  border: solid;
  border-radius: 20%;
  background-color: lightgray;
  max-height: 50px;
  max-width: 175px;
  margin-left: 27%;
  margin-bottom: 10px;
}
