.conversation-button {
  width: 100%;
  height: 40px;
  border: solid;
  border-radius: 20%;
}

.messages-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  /* autoprefixer: off */
  //grid-auto-rows: 150px;
  grid-template-areas:
    'new-message new-message new-message new-message'
    'send-button send-button back-button back-button';
}

.messages {
  grid-area: messages;
  max-height: 205px;
  min-height: 205px;
}

.new-message {
  grid-area: new-message;
  font-family: 'backyard';
  margin-top: 10px;
}

.send-button {
  grid-area: send-button;
  border: solid;
  border-radius: 20%;
  border-color: green;
  color: green;
}

.back-button {
  grid-area: back-button;
  border: solid;
  border-radius: 20%;
  border-color: red;
  color: red;
}
