<div class="header-wrapper">
  <div class="logo">
    <fa-icon class="fa-2x"
      icon="notes-medical"></fa-icon>&nbsp;
    <span class="mat-typography"
      style="font-size: 20px;">TheraStation</span>
  </div>
  <div class="tabs">
    <mat-tab-group>
      <mat-tab label="Search"> Content 1 </mat-tab>
      <mat-tab label="About"> Content 2 </mat-tab>
      <mat-tab label="Search"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
  <div class="profile">
    <fa-icon class="fa-2x"
      icon="user"></fa-icon>&nbsp;
    <span class="mat-typography"
      style="font-size: 20px;">name</span>
  </div>
</div>
