<div class="about-us-wrapper">
  <!--   <img class="about-us-1-image"
    src="../../assets/about-us-1.jpg"
    alt=""> -->
  <div class="about-us-text">
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;Founded in Pensacola, Florida, we formed our team with one simple, yet very important goal: provide a
      simple way for mental health professionals to connect with those seeking for help
      with their mental health.
    </p>
  </div>
  <div class="about-us-text">
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;Rather than having potential patients in need of counseling show up in a
      waiting room just to find out there are no avilable appointments,
      we set out to simplify the process, in order to do so,we have created a sleek,
      lightweight, and easy to use website that easily allows potential patients to
      seek out help from top-rated, nearby mental health professionals ahead of time.
      This way we can ensure that those in need of help with their mental health can
      recieve the help they need as soon as possible.
    </p>
  </div>
  <div class="about-us-text">
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;In addition, we also set out ensure patients can seek out the best professionals
      available. Patients can easily search for professionals in their nearby area during
      specific time slots. Patients can also easily communicate with professionals before,
      between, and after appointments. In order to ensure that patients seek out only the best
      professionals, they can leave feedback on their experience. This helps potential patients
      find the best professionals and allows professionals to learn and improve their services.
    </p>
  </div>

</div>
