<div class="login-wrapper">
  <div class="logo">
    <span>Thera</span>
    <fa-icon class="fa-2x"
      style="margin-left: 10px; margin-right: 10px; align-content: center"
      icon="notes-medical"></fa-icon>
    <span>Station</span>
  </div>
  <div class="about-us">
    <p style="margin-left: 10px; margin-right: 10px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
    <p style="margin-left: 10px; margin-right: 10px;">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <p style="margin-left: 10px; margin-right: 10px;">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="login-button">
    <button mat-button
      (click)="openLoginDialog()">Login</button>
  </div>

  <div class="login-new-account">
    <button mat-button
      (click)="openNewAccountDialog()">New Account</button>
  </div>
</div>
