<div class="login-wrapper">
  <div class="logo">
    <span>Thera</span>
    <fa-icon class="fa-2x"
      style="margin-left: 10px; margin-right: 10px; align-content: center"
      icon="notes-medical"></fa-icon>
    <span>Station</span>
  </div>
  <div class="about-us">
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;TheraStation is a simple, easy to use online scheduling tool
      for both mental health professionals and patients alike.
    </p>
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;Patients can easily search for nearby, user rated mental health professionals and schedule
      appointments with ease. Professionals can easily manage appointments and
      communicate with patients as well.
    </p>
    <p style="margin-left: 10px; margin-right: 10px;">
      &nbsp;&nbsp;If you are looking for professional mental help, or are a mental health professional looking
      to help, join today!
    </p>
  </div>
  <div class="login">
    <form class="form-components-wrapper"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)">
      <mat-form-field class="login-email">
        <input matInput
          name="email"
          placeholder="Email"
          type="text"
          [(ngModel)]="loggedInUser.email"
          required
          email>
      </mat-form-field>
      <mat-form-field class="login-password">
        <input matInput
          name="password"
          placeholder="Password"
          type="password"
          ngModel
          required
          password
          minlength="8">
      </mat-form-field>
      <button mat-button
        type="submit"
        [disabled]="!f.valid"
        class="login-button">Login</button>
      <button mat-button
        class="login-new-account"
        type="button"
        (click)="onNewAccount()">New Account</button>
    </form>
  </div>
</div>
