.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    '. logo logo .'
    '. about-us login .'
    '. . . .';
}

.logo {
  grid-area: logo;
  font-family: 'Roboto';
  font-size: 50px;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  background-color: inherit;
}

.about-us {
  grid-area: about-us;
  font-family: 'Roboto';
  font-size: 17px;
  max-height: 225px;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  border: solid;
  border-radius: 5%;
  background-color: inherit;
  box-shadow: 10px 10px 5px grey;
}

.login {
  grid-area: login;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  border: solid;
  border-radius: 5%;
  background-color: #e8e8e8;
  box-shadow: 10px 10px 5px grey;
}

.form-components-wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
  grid-template-areas:
    'login-email    login-email'
    'login-password login-password'
    'login-button   login-new-account';
}

.login-email {
  grid-area: login-email;
  width: 90%;
  padding-left: 15px;
  padding-top: 5px;
}

.login-password {
  grid-area: login-password;
  width: 90%;
  padding-left: 15px;
  padding-top: 5px;
}

.login-button {
  grid-area: login-button;
  border: solid;
  border-radius: 20%;
  background-color: lightgray;
  margin-left: 40%;
  margin-bottom: 10px;
  max-height: 50px;
  max-width: 100px;
}
.login-new-account {
  grid-area: login-new-account;
  border: solid;
  border-radius: 20%;
  background-color: lightgray;
  margin-bottom: 10px;
  max-height: 50px;
  max-width: 115px;
}

@media only screen and (max-width: 500px) and (max-height: 500px) {
  .wrapper {
    grid-template-areas: '. login .';
  }
}
