table {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.cancel-button {
  display: grid;
  border: solid;
  border-radius: 20%;
  border-color: red;
  color: red;
  background-color: white;
  height: 35px;
}

.approve-button {
  display: grid;
  border: solid;
  border-radius: 20%;
  border-color: green;
  color: green;
  background-color: white;
  height: 35px;
}
